.artist-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: 8px;
}
.card{
    border: none;
}
.single-artist{
    background-color: rgb(253, 250, 250);
    box-shadow: 4px 4px 7px gray;
    text-align: center;
}
.single-artist h5 p{
    color: #333333;
}
.style-buy-button{
    background-color: #ffad33;
    color: white;
    border-radius: 2px;
  }
  .style-buy-button:hover{
      color: white;
  }
  .font-icon-color{
      color: #ffad33;
      font-size: 30px;
  }
