.artist-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: 8px;
}
.single-artist{
    background-color: rgb(250, 251, 251);
    
}
.full-name{
    font-size: 24px;
}