.header-item{
    text-align: center;
    background-color: #e2d7d1;
    padding: 5px;
    line-height: 15px;
}
.header-item h1{
    color: rgb(63, 62, 62);
}
.header-item p{
    color: rgb(70, 68, 68);
    font-size: 19px;
}